/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 22, 2017, 2:23:49 PM
    Author     : gia
*/

input[type=text], input[type=password], input[type=submit]{
    width: 100%;
    padding: 12px 20px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.content {
    max-width: 500px;
    margin: auto;
    padding: 10px;
  }
  
.container {
    padding: 16px;
    border: 1px solid #ccc;
}